<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!-- Header -->
                <div class="card-header">
                    <div class="row">
                        <!-- Add contact -->
                        <!-- Calls the requestNewContactModal method, it requests the new contact modal -->
                        <div class="col align-self-start" (click)="requestNewContactModal($event)">
                            <i class="icon-plus icons font-2xl d-block"></i>
                        </div>
                        <!-- Search field -->
                        <div class="col-4 input-group align-self-end">
                            <span class="input-group-addon"><i class="fa fa-search"></i>
                            </span>
                            <input #search type="text" class="form-control" placeholder="Search by name" (input)="filterItem(search.value)" />
                        </div>
                    </div>
                </div>

                <!-- Start table -->
                <div class="card-block">
                    <table class="table table-inverse">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Compañía</th>
                                <th>Departamento o puesto</th>
                                <th>Teléfono fijo</th>
                                <th>Extensión</th>
                                <th>Teléfono móvil</th>
                                <th>Teléfono móvil secundario</th>
                                <th>Correo</th>
                                <th>Correo alterno</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Select contact to update -->
                            <!-- Calls the requestUpdateContactModal method, it requests the update contact modal -->
                            <!-- Sends the user selected by the user to the function sendCurrentContact -->
                            <tr data-toggle="modal" *ngFor="let contact of contactsList" (click)="requestUpdateContactModal($event)" (click)="sendCurrentContact(contact)">
                                <th scope="row">{{ contact.id }}</th>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.last_name }}</td>
                                <td>{{ contact.client_complete.name }}</td>
                                <!-- <td>{{ contact.client }}</td> -->
                                <td>{{ contact.charge }}</td>
                                <td>{{ contact.landline }}</td>
                                <td>{{ contact.extension }}</td>
                                <td>{{ contact.mobile_phone_1 }}</td>
                                <td>{{ contact.mobile_phone_2 }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.alternate_email }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>