<!-- Title -->
<div class="card card-inverse card-primary text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <h1>{{ title }}</h1>
        </blockquote>
    </div>
 </div>

 <igualas-list-table [igualasList]="igualasList" (requestShowNewIgualaModal)="newIgualaModal.show()"></igualas-list-table>

 <!-- Modal New Iguala -->
<div bsModal #newIgualaModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myNewIgualaModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ titleNewModal }}</h4>
                <button type="button" class="close" (click)="newIgualaModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Common Form -->
            <!-- Child component, it contains the contact form -->
            <!-- [contact] sends the contact empty to the form to avoid problems if the last contact is currently saved -->
            <!-- [clientsList] sends the clients list to the form -->
            <!-- (requestCloseModal) listens for the close of the modal -->
            <iguala-form [iguala]="iguala"></iguala-form>
        </div>
    </div>
</div>
