<div class="modal-body">
  <!-- Start form -->
  <form>

    <!-- First row -->
    <div class="form-group row">
      <div class="col-md-6">
        <!-- Name Field -->
        <label for="iguala-name" class="form-control-label">Nombre:</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" id="iguala-name" placeholder="Starbucks 2017" class="form-control" minlength="3" maxlength="24" name="name" required>
        </div>
      </div>

      <div class="col-md-6">
        <!-- Client field -->
        <label for="iguala-client" class="form-control-label">Compañía:</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
          <select id="client" name="client" class="form-control" size="1" required>
              <option value="">ClientName</option>
          </select>
        </div>
      </div>
    </div>


    <!-- Second row -->
    <div class="form-group row">
      <div class="col-md-6">
        <!-- StartDate Field -->
        <label for="iguala-start-date" class="form-control-label">Fecha Inicio:</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar-plus-o"></i></span>
          <input type="text" id="iguala-start-date" placeholder="01/01/2017" class="form-control" minlength="10" maxlength="10" name="name" required>
        </div>
      </div>

      <div class="col-md-6">
        <!-- EndDate Field -->
        <label for="iguala-end-date" class="form-control-label">Fecha Fin:</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar-minus-o"></i></span>
          <input type="text" id="iguala-end-date" placeholder="01/01/2018" class="form-control" minlength="10" maxlength="10" name="name" required>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="modal-footer">
      <!-- Clear form -->
        <!-- Calls the resetForm method, it's only displayed if the iguala.id is empty because it's not used for create a new iguala modal -->
        <button type="reset" class="btn btn-danger">Limpiar</button>
        <!-- Delete iguala -->
        <!-- Calls the requestWarningModal method, the confirmation is only displayed if the iguala.id exists because it's used only for update iguala modal -->
        <button type="button" class="btn btn-danger">Eliminar</button>
        <!-- Hides modal -->
        <button type="button" class="btn btn-secondary">Cancelar</button>
        <!-- Submits updated or new iguala -->
        <!-- Calls the submitContactForm method, the submit button is only displayed if all the fields are valid, then it closes the current modal -->
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
