<div class="modal-body">
    <!-- Start form -->
    <!-- #userModalForm="ngForm" calls the form methods to the component -->
    <!-- (ngSubmit)="submitUserForm(userModalForm.value)" executes the submitUserForm method sending the values of each field -->
    <form #userModalForm="ngForm" novalidate (ngSubmit)="submitUserForm(userModalForm.value)" *ngIf="active">

        <!-- First row -->
        <div class="form-group row">
            <div class="col-md-12">
                <!-- Username field -->
                <label for="recipient-name" class="form-control-label">Correo:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-user"></i>
                </span>
                    <input type="text" id="recipient-name" placeholder="usuario@balarco.com" class="form-control" minlength="3" maxlength="50" name="username" [(ngModel)]="user.username" #username="ngModel" pattern="[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`\{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                        required>
                </div>
                <!-- Feedback name -->
                <div *ngIf="username.errors && username.touched" class="alert alert-danger">
                    <div [hidden]="!username.errors.required">
                        El correo es obligatorio.
                    </div>
                    <div [hidden]="!username.errors.minlength">
                        El correo debe ser mayor o igual a 3 caracteres.
                    </div>
                    <div [hidden]="!username.errors.maxlength">
                        El correo debe ser menor a 25 caracteres.
                    </div>
                    <div [hidden]="!username.errors.pattern">
                        El correo no es válido.
                    </div>
                </div>
            </div>
        </div>

        <!-- Second row -->
        <div class="form-group row">
            <div class="col-md-6">
                <!-- Lastname field -->
                <label for="recipient-first_name" class="form-control-label">Nombre:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                    <input type="text" id="recipient-first_name" placeholder="Juan" class="form-control" minlength="3" maxlength="24" name="first_name" [(ngModel)]="user.first_name" #first_name="ngModel" required>
                </div>
                <!-- Feedback lastname -->
                <div *ngIf="first_name.errors && first_name.touched" class="alert alert-danger">
                    <div [hidden]="!first_name.errors.required">
                        El nombre es obligatorio.
                    </div>
                    <div [hidden]="!first_name.errors.minlength">
                        El nombre debe ser mayor o igual a 3 caracteres.
                    </div>
                    <div [hidden]="!first_name.errors.maxlength">
                        El nombre debe ser menor a 25 caracteres.
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Lastname field -->
                <label for="recipient-last_name" class="form-control-label">Apellido:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                    <input type="text" id="recipient-last_name" placeholder="Hernández" class="form-control" minlength="3" maxlength="24" name="last_name" [(ngModel)]="user.last_name" #last_name="ngModel" required>
                </div>
                <!-- Feedback lastname -->
                <div *ngIf="last_name.errors && last_name.touched" class="alert alert-danger">
                    <div [hidden]="!last_name.errors.required">
                        El apellido es obligatorio.
                    </div>
                    <div [hidden]="!last_name.errors.minlength">
                        El apellido debe ser mayor o igual a 3 caracteres.
                    </div>
                    <div [hidden]="!last_name.errors.maxlength">
                        El apellido debe ser menor a 25 caracteres.
                    </div>
                </div>
            </div>
        </div>

        <!-- Third row -->
        <div *ngIf="!user.id" class="form-group row">
            <div class="col-md-12">
                <!-- Password field -->
                <label for="recipient-landline" class="form-control-label">Password:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-lock"></i>
                </span>
                    <input type="password" class="form-control" id="recipient-password" minlength="7" maxlength="24" name="password" [(ngModel)]="user.password" #password="ngModel" required>
                </div>
                <!-- Feedback password -->
                <div *ngIf="password.errors && password.touched" class="alert alert-danger">
                    <div [hidden]="!password.errors.required">
                        La contraseña es obligatoria.
                    </div>
                    <div [hidden]="!password.errors.minlength">
                        La contraseña debe ser mayor o igual a 6 caracteres.
                    </div>
                    <div [hidden]="!password.errors.maxlength">
                        La contraseña debe ser menor a 25 caracteres.
                    </div>
                </div>
            </div>
        </div>


        <!-- Fourth row -->
        <div class="form-group row">
            <div class="col-md-6">
                <!-- Role field -->
                <label for="user-role" class="form-control-label">Roles:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                    <select multiple id="groups_complete" name="groups_complete" class="form-control" [(ngModel)]="user.groups_complete" #groups_complete="ngModel" size=2 required>
                      <option *ngFor="let group of groupList" value="{{ group.id }}">{{ group.name }}</option>
                    </select>
                </div>

                <!-- Mandatory role feedback -->
                <div *ngIf="groups_complete.errors && groups_complete.touched" class="alert alert-danger">
                    <div [hidden]="!groups_complete.errors.required">
                        El rol es obligatorio.
                    </div>
                </div>

                <!-- Current roles feedback -->
                <div *ngIf="user && array !== ''" class="alert alert-info" role="alert">
                    <strong>Roles actuales: </strong>{{ array }}
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="modal-footer">
            <!-- Clear form -->
            <!-- Calls the resetForm method, it's only displayed if the user.id is empty because it's not used for create a new user modal -->
            <!-- <button *ngIf="!user.id" type="reset" class="btn btn-danger" (click)="cancelForm()">Limpiar</button> -->
            <!-- Delete user -->
            <!-- Calls the requestWarningModal method, the confirmation is only displayed if the user.id exists because it's used only for update user modal -->
            <button *ngIf="user.id" type="button" class="btn btn-danger" (click)="requestWarningModal($event)">Eliminar</button>
            <!-- Hides modal -->
            <button type="button" class="btn btn-secondary" (click)="requestCloseThisModal($event)" (click)="cancelForm()">Cancelar</button>
            <!-- Submits updated or new user -->
            <!-- Calls the submitUserForm method, the submit button is only displayed if all the fields are valid, then it closes the current modal -->
            <button type="submit" class="btn btn-primary" [disabled]="!userModalForm.form.valid" (click)="requestCloseThisModal($event)">Guardar</button>
        </div>

    </form>
</div>