<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!-- Header -->
                <div class="card-header">
                    <div class="row">
                        <!-- Add user -->
                        <!-- Calls the requestNewUserModal method, it requests the new user modal -->
                        <div class="col align-self-start" (click)="requestNewUserModal($event)">
                            <i class="icon-plus icons font-2xl d-block"></i>
                        </div>
                        <!-- Search field -->
                        <!-- <div class="col-4 input-group align-self-end">
                            <span class="input-group-addon"><i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Search by name" />
                        </div> -->
                    </div>
                </div>

                <!-- Start table -->
                <div class="card-block">
                    <table class="table table-inverse">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Select user to update -->
                            <!-- Calls the requestUpdateUserModal method, it requests the update user modal -->
                            <!-- Sends the selected user to the function sendCurrentUser -->
                            <tr data-toggle="modal" *ngFor="let user of userList" (click)="requestUpdateUserModal($event)" (click)="sendCurrentUser(user)">
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
