<!-- Start form -->
<!-- (ngSubmit)="submitLoginForm(loginForm.value)" executes the submitLoginForm method sending the values of each field -->
<form #loginForm="ngForm" novalidate (ngSubmit)="submitLoginForm(loginForm.value)" *ngIf="active">
    <div class="form-group row">
        <div class="col-md-12" [class.has-success]="!username.errors && username.touched" [class.has-danger]="username.errors && username.touched">
            <!-- Username field -->
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-user"></i>
                </span>
                <input type="email" id="recipient-username" class="form-control" placeholder="name@example.com" minlength="6" maxlength="24" name="username" [(ngModel)]="login.username" #username="ngModel" pattern="[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`\{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    [class.form-control-success]="!username.errors && username.touched" [class.form-control-danger]="username.errors && username.touched" required>
            </div>
            <!-- Feedback username -->
            <div *ngIf="username.errors && username.touched">
                <div [hidden]="!username.errors.required">
                    <div class="form-control-feedback">El usuario es obligatorio.</div>
                </div>
                <div [hidden]="!username.errors.pattern">
                    <div class="form-control-feedback">El usuario no es válido.</div>
                </div>
                <!-- <div [hidden]="!username.errors.minlength">
                    <div class="form-control-feedback">El usuario debe ser mayor o igual a 6 caracteres.</div>
                </div> -->
                <div [hidden]="!username.errors.maxlength">
                    <div class="form-control-feedback">El usuario debe ser menor a 25 caracteres.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12" [class.has-success]="!password.errors && password.touched" [class.has-danger]="password.errors && password.touched">
            <!-- Password field -->
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-lock"></i>
                </span>
                <input type="password" id="recipient-password" class="form-control" placeholder="Password" minlength="6" maxlength="24" name="password" [(ngModel)]="login.password" #password="ngModel" [class.form-control-success]="!password.errors && password.touched"
                    [class.form-control-danger]="password.errors && password.touched" required>
            </div>
            <!-- Feedback password -->
            <div *ngIf="password.errors && password.touched">
                <div [hidden]="!password.errors.required">
                    <div class="form-control-feedback">La contraseña es obligatoria.</div>
                </div>
                <div [hidden]="!password.errors.minlength">
                    <div class="form-control-feedback">La contraseña debe ser mayor o igual a 6 caracteres.</div>
                </div>
                <div [hidden]="!password.errors.maxlength">
                    <div class="form-control-feedback">La contraseña debe ser menor a 25 caracteres.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Submits login data -->
        <!-- Calls the submitLoginForm method, the submit button is only displayed if all the fields are valid -->
        <div class="col-6">
            <button type="submit" class="btn btn-primary px-2" [disabled]="!loginForm.form.valid">Login</button>
        </div>
        <!-- Recover password -->
        <div class="col-6 text-right">
            <button type="button" class="btn btn-link px-0" (click)="recoverPasswordModal.show()">Forgot password?</button>
        </div>
    </div>
</form>

<toaster-container></toaster-container>

<!-- Modal recover password -->
<div bsModal #recoverPasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myRecoverPasswordModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ titleRecoverPasswordModal }}</h4>
            </div>
            <!-- Common Form -->
            <!-- Child component, it contains the recover password form -->
            <!-- (passwordRecovered) listens the confirmation to recover the password -->
            <!-- (requestCloseModal) listens for the close of the modal -->
            <recover-password-form (requestCloseModal)="recoverPasswordModal.hide()" (passwordRecovered)="successfulModal.show()"></recover-password-form>
        </div>
    </div>
</div>

<!-- Succesful modal for recover password -->
<div bsModal #successfulModal="bs-modal" class="modal fade" id="mySuccessfulModal" tabindex="-1" role="dialog" aria-labelledby="successfulModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Correo enviado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="successfulModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sí el correo existe en nuestro sistema, se te enviará un correo para recuperar tu contraseña. No olvides revisar tu carpeta de correo no deseado en caso de no recibirlo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="successfulModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>