<div class="modal-body">
    <!-- Start form -->
    <!-- #recoverPasswordModalForm="ngForm" calls the form methods to the component -->
    <!-- (ngSubmit)="submitRecoverPasswordForm(recoverPasswordModalForm.value)" executes the submitRecoverPasswordForm method sending the values of each field -->
    <form #recoverPasswordModalForm="ngForm" novalidate (ngSubmit)="submitRecoverPasswordForm(recoverPasswordModalForm, recoverPasswordModalForm.value)">
        <!-- First row -->
        <div class="form-group row">
            <div class="col-md-12" [class.has-success]="!email.errors && email.touched" [class.has-danger]="email.errors && email.touched">
                <label>Ingresa tu correo para recuperar tu contraseña:</label>
                <!-- Email field -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-user"></i>
                    </span>
                    <input type="email" id="recipient-email" class="form-control" placeholder="name@example.com" minlength="6" maxlength="24" name="email" [(ngModel)]="recoverPassword.email" #email="ngModel" pattern="[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`\{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                        [class.form-control-success]="!email.errors && email.touched" [class.form-control-danger]="email.errors && email.touched" required>
                </div>
                <!-- Feedback email -->
                <div *ngIf="email.errors && email.touched">
                    <div [hidden]="!email.errors.required">
                        <div class="form-control-feedback">El usuario es obligatorio.</div>
                    </div>
                    <div [hidden]="!email.errors.pattern">
                        <div class="form-control-feedback">El usuario no es válido.</div>
                    </div>
                    <!-- <div [hidden]="!email.errors.minlength">
                        <div class="form-control-feedback">El usuario debe ser mayor o igual a 6 caracteres.</div>
                    </div> -->
                    <div [hidden]="!email.errors.maxlength">
                        <div class="form-control-feedback">El usuario debe ser menor a 25 caracteres.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Buttons -->
        <div class="modal-footer">
            <!-- Hides modal -->
            <button type="button" class="btn btn-secondary" (click)="requestCloseThisModal($event)" (click)="cancelForm(recoverPasswordModalForm)">Cancelar</button>
            <!-- Submits updated or new recoverPassword -->
            <!-- Calls the submitRecoverPasswordForm method, the submit button is only displayed if all the fields are valid, then it closes the current modal -->
            <button type="submit" class="btn btn-primary" [disabled]="!recoverPasswordModalForm.form.valid" (click)="requestCloseThisModal($event)">Enviar</button>
        </div>
    </form>
</div>