<div class="animated fadeIn">

    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-plus icons font-2xl d-block mt-2"></i>
                </div>
                <div class="card-block">
                    <table class="table table-inverse">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Diseño</th>
                          <th>Cliente</th>
                          <th>Terminado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-toggle="modal" *ngFor="let design of documents" (click)="clicked(design.id, design.title, design.body)" (click)="largeModal.show()">
                          <th scope="row">{{ design.userId }}</th>
                          <td>{{ design.id }}</td>
                          <td>{{ design.title }}</td>
                          <td>{{ design.body }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ title }}</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ body }}</p>
                <p>{{ id }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->