<div class="modal-body">
    <!-- Start form -->
    <!-- #worksModalForm="ngForm" calls the form methods to the component -->
    <!-- (ngSubmit)="submitWorkForm(worksModalForm.value)" executes the submitWorkForm method sending the values of each field -->
    <form #worksModalForm="ngForm" novalidate (ngSubmit)="submitWorkForm(worksModalForm, worksModalForm.value)">

        <!-- First row -->
        <div class="form-group row">
            <div class="col-md-6" [class.has-success]="!name.errors && name.touched" [class.has-danger]="name.errors && name.touched">
                <!-- Name field -->
                <label for="recipient-name" class="form-control-label">Nombre:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                    <input type="text" id="name" placeholder="Nuevo Proyecto" class="form-control" minlength="3" maxlength="24" name="name" [(ngModel)]="work.name" #name="ngModel" [class.form-control-success]="!name.errors && name.touched" [class.form-control-danger]="name.errors && name.touched"
                        required>
                </div>
                <!-- Feedback name -->
                <div *ngIf="name.errors && name.touched">
                    <div [hidden]="!name.errors.required">
                        <div class="form-control-feedback">El nombre es obligatorio.</div>
                    </div>
                    <div [hidden]="!name.errors.minlength">
                        <div class="form-control-feedback">El nombre debe ser mayor o igual a 3 caracteres.</div>
                    </div>
                    <div [hidden]="!name.errors.maxlength">
                        <div class="form-control-feedback">El nombre debe ser menor a 25 caracteres.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Executive field -->
                <label for="recipient-executive" class="form-control-label">Ejecutivo:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                    <select id="executive" name="executive" class="form-control" size="1" [(ngModel)]="work.executive" #executive="ngModel" required>
                    <option *ngFor="let executive of userExecutivesList" value="{{ executive.id }}">{{ executive.first_name + ' ' + executive.last_name }}</option>
                </select>
                </div>
                <!-- Feedback executive -->
                <!--<div *ngIf="executive.errors && executive.touched" class="alert alert-danger">
                <div [hidden]="!executive.errors.required">
                    El contacto es obligatorio.
                </div>
            </div>-->
            </div>
        </div>

        <!-- Second row -->
        <div class="form-group row">
            <div class="col-md-6" [class.has-success]="!client.errors && client.touched" [class.has-danger]="client.errors && client.touched">
                <!-- Client field -->
                <label for="recipient-client" class="form-control-label">Compañía:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-suitcase"></i>
                </span>
                    <select id="client" name="client" class="form-control" size="1" (change)="onClientChange($event.target.value)" [(ngModel)]="client_id" #client="ngModel" required>
                    <option *ngFor="let client of clientsList" value="{{ client.id }}">{{ client.name }}</option>
                </select>
                </div>
                <!-- Feedback client -->
                <div *ngIf="client.errors && client.touched">
                    <div [hidden]="!client.errors.required">
                        <div class="form-control-feedback">La compañía es obligatoria.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" [class.has-success]="!contact.errors && contact.touched" [class.has-danger]="contact.errors && contact.touched">
                <!-- Contact field -->
                <label for="recipient-contact" class="form-control-label">Contacto:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                    <select id="contact" name="contact" class="form-control" size="1" [(ngModel)]="contact_id" #contact="ngModel" required>
                    <option *ngFor="let contact of currentContacts" value="{{ contact.id }}">{{ contact.name }} {{ contact.last_name}}</option>
                </select>
                </div>
                <!-- Feedback contact -->
                <div *ngIf="contact.errors && contact.touched">
                    <div [hidden]="!contact.errors.required">
                        <div class="form-control-feedback">El contacto es obligatorio.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third row -->
        <div class="form-group row">
            <div class="col-md-6" [class.has-success]="!type.errors && type.touched" [class.has-danger]="type.errors && type.touched">
                <!-- Type field -->
                <label for="recipient-type" class="form-control-label">Tipo:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-paint-brush"></i>
                </span>
                    <select id="type" name="type" class="form-control" size="1" (change)="onWorkTypeChange($event.target.value)" [(ngModel)]="work.work_type" #type="ngModel" required>
                    <option *ngFor="let type of workTypesList" value="{{ type.id }}">{{ type.name }}</option>
                </select>
                </div>
                <!-- Feedback type -->
                <div *ngIf="type.errors && type.touched">
                    <div [hidden]="!type.errors.required">
                        <div class="form-control-feedback">El tipo es obligatorio.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="currentWorkTypeId == 1" [class.has-success]="!iguala.errors && iguala.touched" [class.has-danger]="iguala.errors && iguala.touched">
                <!-- Iguala field -->
                <label for="recipient-iguala" class="form-control-label">Iguala:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-paint-brush"></i>
                </span>
                    <select id="iguala" name="iguala" class="form-control" size="1" (change)="onIgualaChange($event.target.value)" [(ngModel)]="work.iguala" #iguala="ngModel" required>
                    <option *ngFor="let iguala of currentIgualas" value="{{ iguala.id }}">{{ iguala.name }}</option>
                </select>
                </div>
                <!-- Feedback iguala -->
                <div *ngIf="iguala.errors && iguala.touched">
                    <div [hidden]="!iguala.errors.required">
                        <div class="form-control-feedback">La iguala es obligatoria.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth row -->
        <div *ngIf="currentWorkTypeId == 1 || currentWorkTypeId == 2">
            <div class="form-group row" *ngFor="let artWork of currentArtWorkList">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label for="art-work-{{ artWork.id }}" class="col-4 col-form-label">{{ artWork.name }}</label>
                        <div class="col-3">
                            <input class="form-control" type="number" name="{{ artWork.name }}" value="{{ artWork.quantity }}" id="art-work-{{ artWork.id }}" [(ngModel)]="artWork.quantity">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fifth row -->
        <div class="form-group row">
            <div class="col-md-12" [class.has-success]="!description.errors && description.touched" [class.has-danger]="description.errors && description.touched">
                <!-- Description field -->
                <label for="recipient-description" class="form-control-label">Descripción:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil"></i>
                </span>
                    <textarea type="text" id="recipient-description" placeholder="Lorem ipsum..." class="form-control" minlength="3" maxlength="200" rows="3" name="description" [(ngModel)]="work.brief" #description="ngModel" [class.form-control-success]="!description.errors && description.touched"
                        [class.form-control-danger]="description.errors && description.touched" required></textarea>
                </div>
                <!-- Feedback description -->
                <div *ngIf="description.errors && description.touched">
                    <div [hidden]="!description.errors.required">
                        <div class="form-control-feedback">La descripción es obligatoria.</div>
                    </div>
                    <div [hidden]="!description.errors.minlength">
                        <div class="form-control-feedback">La descripción debe ser mayor o igual a 3 caracteres.</div>
                    </div>
                    <div [hidden]="!description.errors.maxlength">
                        <div class="form-control-feedback">La descripción debe ser menor a 25 caracteres.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sixth row -->
        <div class="form-group row">
            <div class="col-md-6" [class.has-success]="!status.errors && status.touched" [class.has-danger]="status.errors && status.touched">
                <!-- Status field -->
                <label for="recipient-status" class="form-control-label">Estado: <b *ngIf="work.id">{{ work.current_status_complete.name }}</b></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-check"></i>
                </span>
                    <select id="status" name="status" class="form-control" size="1" [(ngModel)]="work.current_status" #status="ngModel" required>
                    <option *ngFor="let status of possibleStatus" value="{{ status.id }}">{{ status.name }}</option>
                </select>
                </div>
                <!-- Feedback status -->
                <div *ngIf="status.errors && status.touched">
                    <div [hidden]="!status.errors.required">
                        <div class="form-control-feedback">El estado es obligatorio.</div>
                    </div>
                    <div [hidden]="!status.errors.minlength">
                        <div class="form-control-feedback">El estado debe ser mayor o igual a 3 caracteres.</div>
                    </div>
                    <div [hidden]="!status.errors.maxlength">
                        <div class="form-control-feedback">El estado debe ser menor a 25 caracteres.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" [class.has-success]="final_link.touched">
                <!-- Final link field -->
                <label for="recipient-final-link" class="form-control-label">Link trabajo final:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-external-link"></i>
                </span>
                    <input type="text" id="final-link" placeholder="http://google.com" class="form-control" minlength="3" maxlength="24" name="final-link" [(ngModel)]="work.final_link" #final_link="ngModel" [class.form-control-success]="final_link.touched">
                </div>
                <!-- Feedback final link IF NEEDED -->
                <!-- <div *ngIf="final-link.errors && final-link.touched" class="alert alert-danger">
                <div [hidden]="!final-link.errors.required">
                    El nombre es obligatorio.
                </div>
                <div [hidden]="!final-link.errors.minlength">
                    El nombre debe ser mayor o igual a 3 caracteres.
                </div>
                <div [hidden]="!final-link.errors.maxlength">
                    El nombre debe ser menor a 25 caracteres.
                </div>
            </div> -->
            </div>
        </div>

        <!-- Seventh row -->
        <div class="form-group row">
            <div class="col-md-12">
                <label for="designers" class="form-control-label"><strong>Diseñadores asignados:</strong></label>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de termino</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let designer of this.work.work_designers">
                            <td>{{ designer.designer }}</td>
                            <td>{{ designer.designer_name }} {{ designer.designer_last_name }}</td>
                            <td>{{ designer.start_date | date }}</td>
                            <td>{{ designer.end_date | date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Eight row -->
        <div class="form-group row">
            <div class="col-md-6">
                <!-- StartDate Field -->
                <label for="iguala-start-date" class="form-control-label">Fecha Inicio:</label>
                <div class="card-block">
                    <div id="iguala-start-date" style="display:inline-block; min-height:290px;">
                        <datepicker name="creation_date" [(ngModel)]="work.creation_date" required></datepicker>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- EndDate Field -->
                <label for="iguala-end-date" class="form-control-label">Fecha Fin:</label>
                <div class="card-block">
                    <div id="iguala-end-date" style="display:inline-block; min-height:290px;">
                        <datepicker name="expected_delivery_date" [(ngModel)]="work.expected_delivery_date" [minDate]="work.creation_date" required></datepicker>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="modal-footer">
            <!-- Clear form -->
            <!-- Calls the resetForm method, it's only displayed if the work.id is empty because it's not used for create a new work modal -->
            <!-- <button *ngIf="!work.id" type="reset" class="btn btn-danger" (click)="cancelForm()">Limpiar</button> -->
            <!-- Delete work -->
            <!-- Calls the requestWarningModal method, the confirmation is only displayed if the work.id exists because it's used only for update work modal -->
            <button type="button" class="btn btn-danger" (click)="requestWarningModal($event)">Eliminar</button>
            <!-- Hides modal -->
            <button type="button" class="btn btn-secondary" (click)="requestCloseThisModal($event)" (click)="cancelForm(worksModalForm)">Cancelar</button>
            <!-- Submits updated or new work -->
            <!-- Calls the submitWorkForm method, the submit button is only displayed if all the fields are valid and at least one designer is selected, then it closes the current modal -->
            <button type="submit" class="btn btn-primary" [disabled]="!worksModalForm.form.valid" (click)="requestCloseThisModal($event)">Guardar</button>
        </div>

    </form>
</div>
