<!-- Title -->
<div class="card card-inverse card-primary text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <h1>{{ title }}</h1>
        </blockquote>
    </div>
</div>

<!-- Child component, it contains the table -->
<!-- [stopFilterButton] sends the variable to know if the stop filter button should be disabled -->
<!-- [worksList] sends the works list to the table -->
<!-- (requestShowNewWorkModal) receives the request to show the new modal and initialize it -->
<!-- (requestShowUpdateWorkModal) receives the request to show the update modal -->
<!-- (requestShowFilterWorkModal) receives the request to show the works filter modal -->
<!-- (requestStopWorkFilter) receives the request to stop the works filter -->
<!-- (currentWork) receives the work who was selected by the user -->
<works-list [assignmentFilter]="assignmentFilter" [stopFilterButton]="stopFilterButton" [worksList]="worksList" (requestShowNewWorkModal)="newWorkModal.show()" (requestShowUpdateWorkModal)="updateWorkModal.show()" (requestShowFilterWorkModal)="filterWorkModal.show()" (requestStopWorkFilter)="stopWorkFilter()"
    (currentWork)="getWorkFromTable($event)"></works-list>

<!-- Modal New Work -->
<div bsModal #newWorkModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myNewWorkModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ titleNewModal }}</h4>
            </div>
            <!-- Common Form -->
            <!-- Child component, it contains the work form -->
            <!-- [clientsList] sends the client list to the form -->
            <!-- [statusList] sends the status list to the form -->
            <!-- [contactsList] sends the contact list to the form -->
            <!-- [igualasList] sends the igualas list to the form -->
            <!-- [workTypesList] sends the work types list to the form -->
            <!-- [graduationArtTypes] sends the graduation art types list to the form -->
            <!-- (requestCloseModal) listens for the close of the modal -->
            <!-- (workCreated) listens to add the new work -->
            <work-form [userExecutivesList]="userExecutivesList" [statusList]="statusList" [clientsList]="clientsList" [contactsList]="contactsList" [igualasList]="igualasList" [workTypesList]="workTypesList" [graduationArtTypes]="graduationArtTypes" (requestCloseModal)="newWorkModal.hide()" (workCreated)="onWorkCreated($event)"></work-form>
        </div>
    </div>
</div>

<!-- Modal Update Work -->
<div bsModal #updateWorkModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myUpdateWorkModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ titleUpdateModal }}</h4>
            </div>
            <!-- Common Form -->
            <!-- Child component, it contains the work form -->
            <!-- [work] sends the work object to the form to display the current values -->
            <!-- [clientsList] sends the client list to the form -->
            <!-- [contactsList] sends the contact list to the form -->
            <!-- [igualasList] sends the igualas list to the form -->
            <!-- [workTypesList] sends the work types list to the form -->
            <!-- [graduationArtTypes] sends the graduation art types list to the form -->
            <!-- (requestWarning) shows confirmation modal -->
            <!-- (requestCloseModal) listens for the close of the modal -->
            <!-- (workUpdated) listens to update the work -->
            <work-form [work]="work" [userExecutivesList]="userExecutivesList" [clientsList]="clientsList" [contactsList]="contactsList" [igualasList]="igualasList" [workTypesList]="workTypesList" [graduationArtTypes]="graduationArtTypes" (requestWarning)="dangerModal.show()" (requestCloseModal)="updateWorkModal.hide()"
                (workUpdated)="onWorkUpdated($event)"></work-form>
        </div>
    </div>
</div>

<!-- Modal filter Work -->
<div bsModal #filterWorkModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myFilterWorkModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ titleFilterModal }}</h4>
            </div>
            <!-- Filter Form -->
            <!-- Child component, it contains the filter work form -->
            <!-- [clientsList] sends the client list to the form -->
            <!-- [contactsList] sends the contact list to the form -->
            <!-- [igualasList] sends the igualas list to the form -->
            <!-- [statusList] sends the status list to the form -->
            <!-- (resultSearch) receives the params to search in an url to request them to API -->
            <!-- (requestCloseModal) listens for the close of the modal -->
            <work-filter-form [clientsList]="clientsList" [contactsList]="contactsList" [igualasList]="igualasList" [statusList]="statusList" (requestCloseModal)="filterWorkModal.hide()" (resultSearch)="getResultSearch($event)"></work-filter-form>
        </div>
    </div>
</div>

<!-- Danger Modal to delete work -->
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ titleDangerModal }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ descriptionDangerModal }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancelar</button>
                <!-- (click)="removeWork(work)" executes the removeWork funtion in the component -->
                <button type="button" class="btn btn-danger" (click)="removeWork(work)" (click)="dangerModal.hide()" (click)="updateWorkModal.hide()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<toaster-container></toaster-container>
