<div class="modal-body">
    <!-- Start form -->
    <!-- #worksModalFilterForm="ngForm" calls the form methods to the component -->
    <!-- (ngSubmit)="submitWorkFilterForm(worksModalFiterForm.value)" executes the submitWorkFilterForm method sending the values of each field -->
    <form #worksModalFilterForm="ngForm" novalidate (ngSubmit)="submitWorkFilterForm(worksModalFilterForm.value)">
        <!-- First row -->
        <div class="form-group row">
            <div class="col-md-6 form-check">
                <label>Buscar por cliente</label>
                <!-- Client field -->
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="checkboxSuccess" name="searchByClient" [(ngModel)]="workFilter.searchByClient" #searchByClient="ngModel">
                    </span>
                    <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                    <select id="client" name="client" class="form-control" size="1" (change)="onClientChange($event.target.value)" [(ngModel)]="client_id" #client="ngModel">
                        <option *ngFor="let client of clientsList" value="{{ client.id }}">{{ client.name }}</option>
                    </select>
                </div>
                <!-- Feedback client -->
                <div *ngIf="workFilter.searchByClient == true && client.touched" [class.has-danger]="workFilter.searchByClient == true">
                    <div [hidden]="client_id != null">
                        <div class="form-control-feedback">No has seleccionado ningún cliente.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-check">
                <label>Buscar por contacto</label>
                <!-- Contact field -->
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="checkboxSuccess" name="searchByContact" [(ngModel)]="workFilter.searchByContact" #searchByContact="ngModel">
                    </span>
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <select id="contact" name="contact" class="form-control" size="1" [(ngModel)]="contact_id" #contact="ngModel">
                    <option *ngFor="let contact of currentContacts" value="{{ contact.id }}">{{ contact.name }} {{ contact.last_name}}</option>
                    </select>
                </div>
                <!-- Feedback contact -->
                <div *ngIf="workFilter.searchByContact == true && contact.touched" [class.has-danger]="workFilter.searchByContact == true">
                    <div [hidden]="contact_id != null">
                        <div class="form-control-feedback">No has seleccionado ningún contacto.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second row -->
        <div class="form-group row">
            <div class="col-md-6 form-check">
                <label>Buscar por iguala</label>
                <!-- Iguala field -->
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="checkboxSuccess" name="searchByIguala" [(ngModel)]="workFilter.searchByIguala" #searchByIguala="ngModel">
                    </span>
                    <span class="input-group-addon"><i class="fa fa-paint-brush"></i></span>
                    <select id="iguala" name="iguala" class="form-control" size="1" [(ngModel)]="workFilter.iguala" #iguala="ngModel">
                        <option *ngFor="let iguala of currentIgualas" value="{{ iguala.id }}">{{ iguala.name }}</option>
                    </select>
                </div>
                <!-- Feedback iguala -->
                <div *ngIf="workFilter.searchByIguala == true && iguala.touched" [class.has-danger]="workFilter.searchByIguala == true">
                    <div [hidden]="workFilter.iguala != null">
                        <div class="form-control-feedback">No has seleccionado ninguna iguala.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-check">
                <label>Buscar por estado</label>
                <!-- Status field -->
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="checkboxSuccess" name="searchByStatus" [(ngModel)]="workFilter.searchByStatus" #searchByStatus="ngModel">
                    </span>
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                    <select id="current_status" name="current_status" class="form-control" size="1" [(ngModel)]="workFilter.current_status" #current_status="ngModel">
                    <option *ngFor="let status of statusList" value="{{ status.id }}">{{ status.name }}</option>
                    </select>
                </div>
                <!-- Feedback status -->
                <div *ngIf="workFilter.searchByStatus == true && current_status.touched" [class.has-danger]="workFilter.searchByStatus == true">
                    <div [hidden]="workFilter.current_status != null">
                        <div class="form-control-feedback">No has seleccionado ningún estado.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third row -->
        <div class="form-group row">
            <div class="col-md-6 form-check">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="checkboxSuccess" name="searchByCreationDate" [(ngModel)]="workFilter.searchByCreationDate" #searchByCreationDate="ngModel">
                    </span>
                    <span class="input-group-btn btn-block">
                        <button class="btn btn-secondary" type="button">
                            Buscar por fecha de creación
                        </button>
                    </span>
                </div>
                <!-- Feedback StartDate -->
                <div *ngIf="workFilter.searchByCreationDate == true" [class.has-danger]="workFilter.searchByCreationDate == true">
                    <div [hidden]="workFilter.creation_date != null">
                        <div class="form-control-feedback">No has seleccionado ninguna fecha de creación.</div>
                    </div>
                </div>
                <!-- StartDate Field -->
                <div class="card-block">
                    <div id="iguala-start-date" style="display:inline-block; min-height:290px;">
                        <datepicker name="creation_date" [(ngModel)]="workFilter.creation_date"></datepicker>
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-check">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="checkboxSuccess" name="searchByDeliveryDate" [(ngModel)]="workFilter.searchByDeliveryDate" #searchByDeliveryDate="ngModel">
                    </span>
                    <span class="input-group-btn btn-block">
                        <button class="btn btn-secondary" type="button">
                            Buscar por fecha de entrega
                        </button>
                    </span>
                </div>
                <!-- Feedback DeliveryDate -->
                <div *ngIf="workFilter.searchByDeliveryDate == true" [class.has-danger]="workFilter.searchByDeliveryDate == true">
                    <div [hidden]="workFilter.expected_delivery_date != null">
                        <div class="form-control-feedback">No has seleccionado ninguna fecha de entrega.</div>
                    </div>
                </div>
                <!-- EndDate Field -->
                <div class="card-block">
                    <div id="iguala-end-date" style="display:inline-block; min-height:290px;">
                        <datepicker name="expected_delivery_date" [(ngModel)]="workFilter.expected_delivery_date" [minDate]="workFilter.creation_date"></datepicker>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="modal-footer">
            <!-- Hides modal -->
            <button type="button" class="btn btn-secondary" (click)="requestCloseThisModal($event)" (click)="cancelForm(worksModalFilterForm)">Cancelar</button>
            <!-- Submits filter work form -->
            <!-- Calls the submitWorkFilterForm method, the submit button is only displayed if the user select at least one checkbox to enable the search of that field -->
            <button type="submit" class="btn btn-primary" [disabled]="!workFilter.searchByClient && !workFilter.searchByContact && !workFilter.searchByIguala && !workFilter.searchByStatus && !workFilter.searchByCreationDate && !workFilter.searchByDeliveryDate || (workFilter.searchByContact && contact_id == null) || (workFilter.searchByClient && client_id == null) || (workFilter.searchByIguala && workFilter.iguala == null) || (workFilter.searchByStatus && workFilter.current_status == null) || (workFilter.searchByCreationDate && workFilter.creation_date == null) || (workFilter.searchByDeliveryDate && workFilter.expected_delivery_date == null)"
                (click)="requestCloseThisModal($event)">Buscar</button>
        </div>
    </form>
</div>