<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!-- Header -->
                <div class="card-header">
                    <div class="row">
                        <!-- Add work -->
                        <!-- Calls the requestNewWorkModal method, it requests the new work modal -->
                        <div class="col align-self-start" (click)="requestNewWorkModal($event)">
                            <i class="icon-plus icons font-2xl d-block"></i>
                        </div>
                        <!-- Search field -->
                        <!-- <div class="col-4 input-group align-self-end">
                            <span class="input-group-addon"><i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Search by name" />
                        </div> -->
                    </div>
                </div>

                <!-- Start table -->
                <div class="card-block">
                    <table class="table table-inverse">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Contacto</th>
                                <th>Ejecutivo</th>
                                <th>Iguala</th>
                                <th>Descripción</th>
                                <th>Link trabajo terminado</th>
                                <th>Fecha de creación</th>
                                <th>Fecha de entrega</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Select work to update -->
                            <!-- Calls the requestUpdateWorkModal method, it requests the update work modal -->
                            <!-- Sends the work selected by the user to the function sendCurrentWork -->
                            <tr data-toggle="modal" *ngFor="let work of worksList" (click)="requestUpdateWorkModal($event)" (click)="sendCurrentWork(work)">
                                <th scope="row">{{ work.id }}</th>
                                <td>{{ work.name }}</td>
                                <td>{{ work.last_name }}</td>
                                <td>{{ work.client_complete.name }}</td>
                                <td>{{ work.charge }}</td>
                                <td>{{ work.landline }}</td>
                                <td>{{ work.extension }}</td>
                                <td>{{ work.mobile_phone_1 }}</td>
                                <td>{{ work.mobile_phone_2 }}</td>
                                <td>{{ work.email }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
