<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!-- Header -->
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <!-- Add work -->
                            <!-- Calls the requestNewWorkModal method, it requests the new work modal -->
                            <div class="col-9" (click)="requestNewWorkModal($event)">
                                <i class="icon-plus icons font-2xl d-block"></i>
                            </div>
                            <!-- Search field -->
                            <div class="col-3 align-self-end">
                                <button type="button" class="btn btn-danger" [disabled]="stopFilterButton" (click)="requestStopWorkFilterButton($event)">Stop filter</button>
                                <button type="button" class="btn btn-primary" (click)="requestFilterWorkModal($event)"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start table -->
                <div class="card-block">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Fecha de entrega</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Select work to update -->
                            <!-- Calls the requestUpdateWorkModal method, it requests the update work modal -->
                            <!-- Sends the work selected by the user to the function sendCurrentWork -->
                            <tr data-toggle="modal" *ngFor="let work of worksList" (click)="requestUpdateWorkModal($event)" (click)="sendCurrentWork(work)">
                                <th scope="row">{{ work.id }}</th>
                                <td>{{ work.name }}</td>
                                <td>{{ work.work_type_complete.name }}</td>
                                <td>{{ work.expected_delivery_date.toDateString() | date:'mediumDate' }}</td>
                                <td>{{ work.current_status_complete.name }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>