<div class="modal-body">
    <!-- Start form -->
    <form [formGroup]="contactsModalForm" novalidate (ngSubmit)="submitContactForm(contactsModalForm.value, contactsModalForm.valid)">
    
    <!-- First row -->
    <div class="form-group row">
        <div class="col-md-6">
            <!-- Name field -->
            <label for="recipient-name" class="form-control-label">Nombre:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                <input type="text" placeholder="Pablo" class="form-control" id="recipient-name" formControlName="name" required>
            </div>
            <!-- Feedback name -->
            <div [hidden]="contactsModalForm.controls.name.valid || (contactsModalForm.controls.name.pristine && !submitted)" class="alert alert-danger">Ingrese un nombre válido</div>
        </div>

        <div class="col-md-6">
            <!-- Lastname -->
            <label for="recipient-last_name" class="form-control-label">Apellido:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                <input type="text" placeholder="Hernández" class="form-control" id="recipient-last_name" formControlName="last_name" required>
            </div>
            <!-- Feedback lastname -->
            <div [hidden]="contactsModalForm.controls.last_name.valid || (contactsModalForm.controls.last_name.pristine && !submitted)" class="alert alert-danger">Ingrese un apellido válido</div>
        </div>
    </div>

    <!-- Second row -->
    <div class="form-group row">
        <div class="col-md-6">
            <!-- Client field -->
            <label for="recipient-client" class="form-control-label">Compañía:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-suitcase"></i>
                </span>
                <!-- <select id="select" name="select" class="form-control" size="1">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select> -->
                <input type="text" placeholder="Starbucks" class="form-control" id="recipient-client" formControlName="client" required>
            </div>
            <!-- Feedback client -->
            <div [hidden]="contactsModalForm.controls.client.valid || (contactsModalForm.controls.client.pristine && !submitted)" class="alert alert-danger">Ingrese una compañia válida</div>
        </div>

        <div class="col-md-6">
            <!-- Charge field -->
            <label for="recipient-charge" class="form-control-label">Puesto (Departamento):</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-suitcase"></i>
                </span>
                <input type="text" placeholder="Marketing" class="form-control" id="recipient-charge" formControlName="charge" required>
            </div>
            <!-- Feedback charge -->
            <div [hidden]="contactsModalForm.controls.charge.valid || (contactsModalForm.controls.charge.pristine && !submitted)" class="alert alert-danger">Ingrese un departamento o puesto válido</div>
        </div>
    </div>
    
    <!-- Third row -->
    <div class="form-group row">
        <div class="col-md-6">
            <!-- Landline field -->
            <label for="recipient-landline" class="form-control-label">Teléfono fijo:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i>
                </span>
                <input type="tel" placeholder="2221133" class="form-control" id="recipient-landline" formControlName="landline" required>
            </div>
            <!-- Feedback landline -->
            <div [hidden]="contactsModalForm.controls.landline.valid || (contactsModalForm.controls.landline.pristine && !submitted)" class="alert alert-danger">Ingrese un teléfono fijo válido</div>
        </div>

        <div class="col-md-6">
            <!-- Extension field -->
            <label for="recipient-extension" class="form-control-label">Extensión (opcional):</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i>
                </span>
                <input type="text" placeholder="33" class="form-control" id="recipient-extension" formControlName="extension" required>
            </div>
            <!-- Feedback extension -->
            <div [hidden]="contactsModalForm.controls.extension.valid || (contactsModalForm.controls.extension.pristine && !submitted)" class="alert alert-danger">Ingrese una extensión válida</div>
        </div>
    </div>
    
    <!-- Fourth row -->
    <div class="form-group row">
        <div class="col-md-6">
            <!-- Mobile phone 1 field -->
            <label for="recipient-mobile_phone_1" class="form-control-label">Teléfono móvil:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile-phone"></i>
                </span>
                <input type="tel" placeholder="4441112233" class="form-control" id="recipient-mobile_phone_1" formControlName="mobile_phone_1" required>
            </div>
            <!-- Feedback mobile phone 1 -->
            <div [hidden]="contactsModalForm.controls.mobile_phone_1.valid || (contactsModalForm.controls.mobile_phone_1.pristine && !submitted)" class="alert alert-danger">Ingrese un teléfono válido</div>
        </div>

        <div class="col-md-6">
            <!-- Mobile phone 2 field -->
            <label for="recipient-mobile_phone_2" class="form-control-label">Teléfono móvil 2 (opcional):</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile-phone"></i>
                </span>
                <input type="tel" placeholder="4441112233" class="form-control" id="recipient-mobile_phone_2" formControlName="mobile_phone_2">
            </div>
            <!-- Feedback mobile phone 2 -->
            <div [hidden]="contactsModalForm.controls.mobile_phone_2.valid || (contactsModalForm.controls.mobile_phone_2.pristine && !submitted)" class="alert alert-danger">Ingrese un teléfono válido</div>
        </div>
    </div>

    <!-- Fifth row -->
    <div class="form-group row">
        <div class="col-md-6">
            <!-- Email field -->
            <label for="recipient-email" class="form-control-label">Email:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i>
                </span>
                <input type="email" placeholder="user@example.com" class="form-control" id="recipient-email" formControlName="email" required>
            </div>
            <!-- Feedback email -->
            <div [hidden]="contactsModalForm.controls.email.valid || (contactsModalForm.controls.email.pristine && !submitted)" class="alert alert-danger">Ingrese un correo válido</div>
        </div>
        
        <div class="col-md-6">
            <!-- Alternate email field -->
            <label for="recipient-alternate_email" class="form-control-label">Email alterno (opcional):</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i>
                </span>
                <input type="email" placeholder="user@example.com" class="form-control" id="recipient-alternate_email" formControlName="alternate_email">
            </div>
            <!-- Feedback alternate email -->
            <div [hidden]="contactsModalForm.controls.alternate_email.valid || (contactsModalForm.controls.alternate_email.pristine && !submitted)" class="alert alert-danger">Ingrese un correo válido</div>
        </div>
    </div>

    <!-- Sixth row -->
    <div class="form-group row">
        <!-- Left empty space -->
        <div class="col-md-6"></div>
        <!-- Status checkbox -->
        <label class="col-md-4 form-control-label" for="recipient-is_active">Estado</label>
        <div class="col-md-2">
            <div class="checkbox">
                <label for="checkbox1">
                    <input type="checkbox" id="recipient-is_active" name="checkbox1" formControlName="is_active"> Activo
                </label>
            </div>
        </div>
    </div>

    <!-- Buttons -->
    <div class="modal-footer">
        <!-- Clean form -->
        <button *ngIf="!contact" type="reset" class="btn btn-danger" (click)="resetForm()">Limpiar</button>
        <!-- Delete contact -->
        <button *ngIf="contact" type="button" class="btn btn-danger" (click)="requestWarningModal($event)">Eliminar</button>
        <!-- Hide modal -->
        <button type="button" class="btn btn-secondary" (click)="requestCloseThisModal($event)">Cancelar</button>
        <!-- Submit updated or new contact -->
        <button type="submit" class="btn btn-primary" [disabled]="!contactsModalForm.valid" (click)="requestSuccessModal($event)" (click)="requestCloseThisModal($event)">Guardar</button>
    </div>

    </form>
</div>