<!-- Child component, it contains the table -->
<!-- (uploaded) receives the event to show the modal and (currentContact) receives the object of the current contact to show -->
<!-- [docs] sends the contacts to child component -->
<contacts-list-table [docs]="documents" (requestModal)="largeModal.show()" (currentContact)="onNotify($event)"></contacts-list-table>

<!-- Modal Update Contact -->
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ contact?.name }}</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Start form -->
                <form>
                <!-- Name -->
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Nombre:</label>
                    <input type="text" value="{{ contact?.name }}" class="form-control" id="recipient-name">
                </div>
                <!-- Lastname -->
                <div class="form-group">
                    <label for="recipient-lastname" class="form-control-label">Apellido:</label>
                    <input type="text" value="{{ contact?.lastname }}" class="form-control" id="recipient-lastname">
                </div>
                <!-- Company -->
                <div class="form-group">
                    <label for="recipient-company" class="form-control-label">Company:</label>
                    <input type="text" value="{{ contact?.company }}" class="form-control" id="recipient-company">
                </div>
                <!-- Department or Job -->
                <div class="form-group">
                    <label for="recipient-apartment" class="form-control-label">Puesto (Departamento):</label>
                    <input type="text" value="{{ contact?.job }}" class="form-control" id="recipient-apartment">
                </div>
                <!-- Landline -->
                <div class="form-group">
                    <label for="recipient-landline" class="form-control-label">Teléfono fijo:</label>
                    <input type="tel" value="{{ contact?.landline }}" class="form-control" id="recipient-landline">
                </div>
                <!-- Extension -->
                <div class="form-group">
                    <label for="recipient-ext" class="form-control-label">Extensión:</label>
                    <input type="number" value="{{ contact?.ext }}" class="form-control" id="recipient-ext">
                </div>
                <!-- Phone 1 -->
                <div class="form-group">
                    <label for="recipient-phone1" class="form-control-label">Teléfono móvil 1:</label>
                    <input type="tel" value="{{ contact?.phone1 }}" class="form-control" id="recipient-phone1">
                </div>
                <!-- Phone 2 -->
                <div class="form-group">
                    <label for="recipient-phone2" class="form-control-label">Telefono móvil 2:</label>
                    <input type="tel" value="{{ contact?.phone2 }}" class="form-control" id="recipient-phone2">
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="recipient-email" class="form-control-label">Email:</label>
                    <input type="email" value="{{ contact?.email }}" class="form-control" id="recipient-email">
                </div>
                
                <!-- Validations -->
                <!-- Feedback name -->
                <div [hidden]="contactsModalForm.controls.name.valid || (contactsModalForm.controls.name.pristine && !submitted)" class="alert alert-danger">Ingrese un nombre válido</div>
                <!-- Feedback lastname -->
                <div [hidden]="contactsModalForm.controls.lastname.valid || (contactsModalForm.controls.lastname.pristine && !submitted)" class="alert alert-danger">Ingrese un apellido válido</div>
                <!-- Feedback company -->
                <div [hidden]="contactsModalForm.controls.company.valid || (contactsModalForm.controls.company.pristine && !submitted)" class="alert alert-danger">Ingrese una compañia válido</div>
                <!-- Feedback job -->
                <div [hidden]="contactsModalForm.controls.job.valid || (contactsModalForm.controls.job.pristine && !submitted)" class="alert alert-danger">Ingrese un departamento o puesto válido</div>
                <!-- Feedback landline -->
                <div [hidden]="contactsModalForm.controls.landline.valid || (contactsModalForm.controls.landline.pristine && !submitted)" class="alert alert-danger">Ingrese un teléfono fijo válido</div>
                <!-- Feedback extension -->
                <div [hidden]="contactsModalForm.controls.ext.valid || (contactsModalForm.controls.ext.pristine && !submitted)" class="alert alert-danger">Ingrese una extensión válida</div>
                <!-- Feedback phone 1 -->
                <div [hidden]="contactsModalForm.controls.phone1.valid || (contactsModalForm.controls.phone1.pristine && !submitted)" class="alert alert-danger">Ingrese un teléfono válido</div>
                <!-- Feedback phone 2 -->
                <div [hidden]="contactsModalForm.controls.phone2.valid || (contactsModalForm.controls.phone2.pristine && !submitted)" class="alert alert-danger">Ingrese su teléfono válido</div>
                <!-- Feedback email -->
                <div [hidden]="contactsModalForm.controls.email.valid || (contactsModalForm.controls.email.pristine && !submitted)" class="alert alert-danger">Ingrese un correo válido</div>
                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal New Contact -->
