<!-- Child component, it contains the table -->
<!-- (uploaded) receives the event to show the modal and (currentContact) receives the object of the current 
contact to show [docs] sends the contacts to child component -->
<contacts-list-table [docs]="documents" (requestShowNewContactModal)="newContactModal.show()" (requestShowNewContactModal)="initializeModal()" (requestShowUpdateContactModal)="updateContactModal.show()" (currentContact)="getContactFromTable($event)"></contacts-list-table>

<!-- Modal New Contact -->
<div bsModal #newContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myNewContactModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Contacto</h4>
                <button type="button" class="close" (click)="newContactModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Common Form -->
            <contacts-list-form [contactToEdit]="contact" (requestCloseModal)="newContactModal.hide()"></contacts-list-form>
        </div>
    </div>
</div>

<!-- Modal Update Contact -->
<div bsModal #updateContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myUpdateContactModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modificar Contacto</h4>
                <button type="button" class="close" (click)="updateContactModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Common Form -->
            <contacts-list-form [contactToEdit]="contact" (requestWarning)="dangerModal.show()" (requestCloseModal)="updateContactModal.hide()"></contacts-list-form>
        </div>
    </div>
</div>

<!-- Danger Modal to delete contact -->
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar contacto</h4>
                <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está usted seguro de eliminar este contacto?&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="removeContact(contact)" (click)="dangerModal.hide()" (click)="updateContactModal.hide()">Eliminar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->