<div class="modal-body">
    <!-- Start form -->
    <form [formGroup]="contactsNewModalForm" novalidate (ngSubmit)="submitNewContactForm(contactsNewModalForm.value, contactsNewModalForm.valid)">
    <!-- Name -->
    <div class="form-group">
        <label for="recipient-name" class="form-control-label">Nombre:</label>
        <input type="text" placeholder="Pablo" class="form-control" id="recipient-name" formControlName="name" required>
    </div>
    <!-- Feedback name -->
    <div [hidden]="contactsNewModalForm.controls.name.valid || (contactsNewModalForm.controls.name.pristine && !submitted)" class="alert alert-danger">Ingrese un nombre válido</div>
    <!-- Lastname -->
    <div class="form-group">
        <label for="recipient-lastname" class="form-control-label">Apellido:</label>
        <input type="text" placeholder="Hernández" class="form-control" id="recipient-lastname" formControlName="lastname" required>
    </div>
    <!-- Feedback lastname -->
    <div [hidden]="contactsNewModalForm.controls.lastname.valid || (contactsNewModalForm.controls.lastname.pristine && !submitted)" class="alert alert-danger">Ingrese un apellido válido</div>
    <!-- Company -->
    <div class="form-group">
        <label for="recipient-company" class="form-control-label">Company:</label>
        <input type="text" placeholder="Starbucks" class="form-control" id="recipient-company" formControlName="company" required>
    </div>
    <!-- Feedback company -->
    <div [hidden]="contactsNewModalForm.controls.company.valid || (contactsNewModalForm.controls.company.pristine && !submitted)" class="alert alert-danger">Ingrese una compañia válido</div>
    <!-- Department or Job -->
    <div class="form-group">
        <label for="recipient-apartment" class="form-control-label">Puesto (Departamento):</label>
        <input type="text" placeholder="Marketing" class="form-control" id="recipient-job" formControlName="job" required>
    </div>
    <!-- Feedback job -->
    <div [hidden]="contactsNewModalForm.controls.job.valid || (contactsNewModalForm.controls.job.pristine && !submitted)" class="alert alert-danger">Ingrese un departamento o puesto válido</div>
    <!-- Landline -->
    <div class="form-group">
        <label for="recipient-landline" class="form-control-label">Teléfono fijo:</label>
        <input type="tel" placeholder="2221122" class="form-control" id="recipient-landline" formControlName="landline" required>
    </div>
    <!-- Feedback landline -->
    <div [hidden]="contactsNewModalForm.controls.landline.valid || (contactsNewModalForm.controls.landline.pristine && !submitted)" class="alert alert-danger">Ingrese un teléfono fijo válido</div>
    <!-- Extension -->
    <div class="form-group">
        <label for="recipient-ext" class="form-control-label">Extensión:</label>
        <input type="number" placeholder="123" class="form-control" id="recipient-ext" formControlName="ext" required>
    </div>
    <!-- Feedback extension -->
    <div [hidden]="contactsNewModalForm.controls.ext.valid || (contactsNewModalForm.controls.ext.pristine && !submitted)" class="alert alert-danger">Ingrese una extensión válida</div>
    <!-- Phone 1 -->
    <div class="form-group">
        <label for="recipient-phone1" class="form-control-label">Teléfono móvil 1:</label>
        <input type="tel" placeholder="4421112233" class="form-control" id="recipient-phone1" formControlName="phone1" required>
    </div>
    <!-- Feedback phone 1 -->
    <div [hidden]="contactsNewModalForm.controls.phone1.valid || (contactsNewModalForm.controls.phone1.pristine && !submitted)" class="alert alert-danger">Ingrese un teléfono válido</div>
    <!-- Phone 2 -->
    <div class="form-group">
        <label for="recipient-phone2" class="form-control-label">Telefono móvil 2:</label>
        <input type="tel" placeholder="4421112233" class="form-control" id="recipient-phone2" formControlName="phone2" required>
    </div>
    <!-- Feedback phone 2 -->
    <div [hidden]="contactsNewModalForm.controls.phone2.valid || (contactsNewModalForm.controls.phone2.pristine && !submitted)" class="alert alert-danger">Ingrese su teléfono válido</div>
    <!-- Email -->
    <div class="form-group">
        <label for="recipient-email" class="form-control-label">Email:</label>
        <input type="email" placeholder="usuario@ejemplo.com" class="form-control" id="recipient-email" formControlName="email" required>
    </div>
    <!-- Feedback email -->
    <div [hidden]="contactsNewModalForm.controls.email.valid || (contactsNewModalForm.controls.email.pristine && !submitted)" class="alert alert-danger">Ingrese un correo válido</div>
    
    <!-- Buttons close and submit -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="newContactModal.hide()">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!contactsNewModalForm.valid">Save changes</button>
    </div>
    </form>
</div>